
html {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0em; 
}

body {
    background: url("pict/region_logo_small.gif") 0em 0em / 117em 6em no-repeat, url("pict/28_01_small_0.jpg") 92em 0em / 25em 25em no-repeat;
    alignment-adjust: auto;
}

#PageFooter
{
    background: url(pict/region_footer.gif) no-repeat;
    text-align: center;
    font-size:100%;
    padding:4%;
}

table#first {
    text-align: center;
    margin: auto;

    vertical-align: middle;
    alignment-adjust: central;
    border-spacing: 10em 2em;  
}

table#second {
    text-align: center;
    margin: auto;

    vertical-align: middle;
    alignment-adjust: central;
    border-spacing: 10em 2em;
}


[type="text"] {
    background-color: buttonface;
}
[type="submit"]{
    background-color: buttonface;
}

#byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#byte_range { margin-top: 5px; }.activeInput {

}
